.FirstLoginclip {
  display: grid;
  width: 90%;
  margin: auto;
  background: linear-gradient(145.13deg, #1f1f2f 0%, #1f1f2f 100%);
  border-radius: 9px;
  aspect-ratio: 303 / 363;
}

.FirstLogingrid-icons {
  margin-top: auto;
  margin-bottom: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.FirstLoginbtn1 {
  text-align: center;
  padding: 10px;
  background-color: #2a7af2;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border-bottom-left-radius: 9px;
}

.FirstLoginbtn2 {
  text-align: center;
  padding: 10px;
  background-color: #373755;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border-bottom-right-radius: 9px;
}

.FirstLoginbottom-cart-nav {
  padding: 10px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 15px;
}

.FirstLogincart-nav {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1f1f2f;
}
.FirstLoginclip-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #bcbcdf;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 9px 17px;
  gap: 4px;
  width: 90%;
  margin: auto;
  margin-top: 14px;
}
.FirstLoginclip-user > img {
  width: 37px;
  height: 37px;
  border-radius: 41px;
  margin-left: 0;
  margin-right: 3px;
}
.FirstLoginclip-user > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #383838;
  margin-left: 0;
  margin-right: 0;
}
.FirstLoginclip-user > a {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  padding: 7px 12px;
  text-decoration: none;
  background: #f2722a;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.FirstLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GlobeArea {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 353px;
  position: relative;
  top: 0;
}
.GlobeArea > h1 {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #383838;
}
.GlobeAreaBold {
  font-weight: bold;
}
.GlobeAreaSearchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 25px 32px rgba(13, 28, 51, 0.13);
  border-radius: 7px;
  padding: 20px 30px;
  gap: 12px;
  width: 50vw;
  height: auto;
  min-width: 900px;
}
.GlobeAreaSearchBox > svg {
  margin-left: 0;
  margin-right: 0;
}
.GlobeAreaSearchBox-input {
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #8585a2;
  outline: none;
  margin-left: 0;
  margin-right: auto;
  width: 30vw;
  min-width: 600px;
}
.GlobeAreaSearchBox-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #a1a1ba;
  width: max-content;
}
.GlobeArea > img {
  height: 100%;
  width: 100%;
}
.FirstLoginGrid {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: auto;
  gap: 15px;
}
.FirstLoginGrid > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #383838;
  margin-left: 0;
  margin-right: auto;
}
.FirstLoginGrid-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}
.FirstLoginbottom-cart-nav {
  margin-left: auto;
  margin-right: 0;
}
