/* top navbar */
.navbar1 {
  height: 72px;
  background-color: #1f1f2f;
  border: 1px solid #3a3a53;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999;
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  margin-left: 0;
  width: 92%;
}
.nav-logo11 {
  font-size: 20px;
  margin-left: 50px;
}
.navbar-logo-img {
  padding: 10px 15px;
  border-right: 0.3px solid #c1c1c1;
  margin-left: 0;
}
.navbaroptions-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 20px;
}
.navbar-options {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.searchbar {
  background-color: #33334e;
  border-radius: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 30px;
}
.searchbar-logo {
  padding: 0px 10px;
}

.searchbar-text {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
  color: white;
  font-family: Poppins;
  font-weight: 400;
}
.navbar-btn1 {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-btn13 {
  background: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.nav-btn23 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background: #d82666;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
}
.navbar-mobileMenu1 {
  display: none;
}

.CloseLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 50px;
  left: 0;
  position: fixed;
  z-index: 99;
  width: 100vw;
  padding-bottom: 25px;
  border-bottom: 1px solid #4d4d6c;
  background: #1f1f2f;
}
/* */
#menuToggle {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 3px;
  margin-left: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle input {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  width: 27px;
  height: 4px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.2s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 2px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #fff;
  transform: rotate(45deg) translate(4px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #fff;
  transform: rotate(135deg) translate(2px);
}
#menuToggle input:checked ~ #span3 {
  background-color: #fff;
  transform: rotate(45deg);
  opacity: 0;
}

.navbar-logo-img-close {
  margin: auto;
  margin-left: 15px;
  margin-right: auto;
  height: 20px;
  margin-top: 30px;
}

.closebtnNav {
  margin: auto;
  margin-left: auto;
  margin-right: 15px;
}
.main-mobileView1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f1f2f;
  height: 100%;
  width: 100vw;
}
.searchbar-mobile-view {
  background-color: #33334e;
  border-radius: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
  gap: 10px;
  margin-top: 90px;
  width: 90%;
}
.nav-btn1-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 10px 20px;
  gap: 5px;
}
.options-mobile-view {
  width: 90vw;
  left: 10%;
}
@media screen and (max-width: 1200px) {
  .navbar-content {
    width: 100%;
    /* max-width: 1700px; */
  }
  .navbar-logo-img {
    height: 15px;
    padding: 10px 9px;
    border-right: 0.3px solid #c1c1c1;
  }
  .navbaroptions-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
  }
  .navbar-options {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .searchbar {
    border-radius: 6px;
    height: 35px;
    margin-left: 8px;
  }
  .searchbar-logo {
    padding: 0px 8px;
  }

  .searchbar-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .navbaroptions-list {
    display: none;
  }
  .navbar-logo11 {
    display: none;
  }
  .searchbar {
    display: none;
  }
  .navbar-btn1 {
    display: none;
  }
  .navbar-logo-img {
    padding: 10px 15px;
    height: 20px;
    border-right: none;
  }
  .navbar-mobileMenu1 {
    position: fixed;
    background: #1f1f2f;
    display: flex;
    padding-right: 5vw;
    z-index: 999;
  }
}
