.offer-page {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.81);
  overflow-y: auto;
  z-index: 99;
}

.offer-popup {
  width: 720px;
  left: 50%;
  top: 5vh;
  transform: translate(-50%, 0);
  position: absolute;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blueArea {
  background-color: #2a7af2;
  width: 100%;
  border-radius: 15px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 300px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.OfferGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.OfferGrid > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
}

.OfferGrid > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.popup-btn-offer {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  gap: 14px;
}

.btn-white-offer {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1f1f2f;
  border-radius: 6px;
  padding: 13px 40px;
  cursor: pointer;
  background: #ffffff;
  min-width: max-content;
}

.btn-dark-offer {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 6px;
  padding: 13px 40px;
  cursor: pointer;
  background: #1f1f2f;
  min-width: max-content;
}

.whiteArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.offerviewer {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 37px;
}

.offerdisplay {
  width: 276px;
  height: 344px;
  background: #1f1f2f;
  border-radius: 14px;
}

.offerview-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offerview-flex > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  margin-right: auto;
}

.offerview-flex > a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #d82666;
  margin-left: auto;
}

input.offerCheckBox {
  width: 16px;
  height: 16px;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #1f1f2f;
  gap: 5px;
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 750px) {
  .offer-popup {
    width: 394px;
  }
  .blueArea {
    flex-direction: column;
  }
  .handshakeSvg {
    transform: rotate(-90deg);
    gap: 0px;
    height: 150px;
    width: 108px;
  }
  .OfferGrid {
    gap: 0;
  }
  .OfferGrid > h1 {
    height: 40px;
    margin: 0 auto;
    font-size: 23px;
    line-height: 34px;
  }

  .OfferGrid > p {
    padding-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  }
  .popup-btn-offer {
    margin-top: 0px;
    justify-content: center;
    display: flex;
    gap: 10px;
  }
  .btn-white-offer {
    padding: 13px 20px;
  }

  .btn-dark-offer {
    padding: 13px 20px;
  }
  .offerviewer {
    grid-template-columns: 1fr;
    grid-gap: 37px;
  }
  .offer1 {
    margin: auto;
  }
  .checkbox {
    grid-column: 1/2;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .offer-popup {
    width: 95vw;
  }
  .OfferGrid > h1 {
    font-size: 24px;
    text-align: center;
  }

  .OfferGrid > p {
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .popup-btn-offer {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .btn-white-offer {
    padding: 13px 10px;
    margin-top: 0;
  }

  .btn-dark-offer {
    padding: 13px 10px;
    margin-bottom: 0;
  }
  input.offerCheckBox {
    width: 16px;
    height: 16px;
  }

  .checkbox {
    font-size: 12px;
    line-height: 27px;
  }
}
