.changePassword {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(31, 31, 47, 0.28);
  margin-bottom: 30px;
}

.changePassword > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #1f1f2f;
}
.PasswordEmail-input {
  width: 50%;
}
.changePassword > p {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2a7af2;
  border-radius: 6px;
  width: 42.5%;
  text-align: center;
  padding: 8px 0px;
  cursor: pointer;
}
.changeEmail {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.changeEmail > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #1f1f2f;
}
.changeEmail > p {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: #2a7af2;
  border-radius: 6px;
  width: 42.5%;
  text-align: center;
  padding: 8px 0px;
  cursor: pointer;
}
